.inner {
  height: rem(58px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-brand-filled);
    color: var(--mantine-color-white);
  }
}

.linkActive {
  background-color: var(--mantine-color-brand-filled);
  color: var(--mantine-color-white);

  &:hover {
    background-color: light-dark(var(--mantine-color-brand-3), var(--mantine-color-brand-3));
  }
}

/* Mobile styles */
.mobileLink {
  display: block;
  line-height: 1;
  padding: rem(16px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-md);
  font-weight: 500;
  width: 100%;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.mobileLinkActive {
  background-color: var(--mantine-color-brand-filled);
  color: var(--mantine-color-white);

  &:hover {
    background-color: light-dark(var(--mantine-color-brand-3), var(--mantine-color-brand-3));
  }
}